body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #tool-header {
    display: flex;
    justify-content: center;
    background: #c38b38;
    opacity: .8;
    height: 5rem;
    padding: 1rem;
  }
  
  #tool-collection {
    margin: 2rem;
  }

  #drop-down {
    margin: 3rem;
  }
  
  .card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52
  }
  
  .tool-avatar {
    justify-self: center;
    height: 12rem;
    width: auto;
  }
  
  button {
    position: relative;
    background-color: #c38b38;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
  }
  
  button:hover {
    background-color: whitesmoke;
    border: #c38b38 solid 1px;
    color: #c38b38;
  }
  
  .container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #515DA2;
    opacity: .8;
  }
  
  .add-tool-form {
    width: 80%
  }
  
  #right-side-div {
    margin: 3rem
  }

  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }
  
  .submit-button {
    position: relative;
    background-color: #c38b38;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
  }

  .submit-button:hover {
    background-color: whitesmoke;
    border: #c38b38 solid 1px;
    color: #c38b38;
  }